/* line 2, ../scss/style.scss */
img.intLink {
  border: 0;
}

/* line 3, ../scss/style.scss */
.intLink {
  cursor: pointer;
}

/* line 4, ../scss/style.scss */
#textBox {
  padding: 12px;
}

/* line 5, ../scss/style.scss */
#toolBar1 select {
  font-size: 10px;
}

/* line 6, ../scss/style.scss */
#editMode label {
  cursor: pointer;
}

/* line 7, ../scss/style.scss */
.editor_wrapper {
  margin-top: 150px;
}

/* line 8, ../scss/style.scss */
#textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}

/* line 14, ../scss/style.scss */
#textBox pre {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

/* line 22, ../scss/style.scss */
.editor:focus,
.editor pre:focus,
#textBox #sourceText:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  background: #ffffff;
  border: 1px solid #ccc;
}

/* line 31, ../scss/style.scss */
.editor,
.editor pre,
#textBox #sourceText {
  min-height: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 250px;
  width: 45%;
  padding: 3px;
  overflow: hidden;
}

/* line 40, ../scss/style.scss */
.editor pre {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
}
